body {
  /* border: solid white; */
  background-color: rgb(17, 16, 16);
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;
}

.logo {
  background-color: rgba(0, 0, 0, 0.479);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-sidebar {
  position: absolute;
  background-image: url(./img/michael-mouritz-WXX_DhjlmD4-unsplash.jpg);
  background-size: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Permanent Marker";
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: white;
  width: 30%;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.header {
  font-family: "Tauri", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  font-size: 16px;
  margin-left: 30%;
  width: calc(80% - 29%);
  height: 370px;
  background-color: rgb(240, 240, 240);
  color: rgb(58, 58, 58);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  font-family: "Tauri", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  margin-left: 30%;
  margin-top: 350px;
  background-color: white;
  width: calc(80% - 29%);
  height: calc(100vh - 604px);
  display: inline-block;
  /* padding-top: 20px; */
  margin-bottom: 0;
  text-align: left;
}

input {
  width: 250px;
  margin-top: 10px;
  display: block;
  border-radius: 5px;
  border: 1px solid grey;
  height: 30px;
}

.firstname {
  display: inline-block;
  width: max-content;
  margin-left: 50px;
}

.lastname {
  display: inline-block;
  width: max-content;
  margin-left: 200px;
}

.email {
  margin-left: 50px;
  display: inline-block;
  width: max-content;
}

.phonenumber {
  display: inline-block;
  width: max-content;
  margin-left: 200px;
}

.password {
  display: inline-block;
  width: max-content;
  margin-left: 35px;
}

.passconfirm {
  display: inline-block;
  width: max-content;
  margin-left: 200px;
}

fieldset {
  border: none;
  margin-top: 30px;
}

.submit {
  /* border: solid red; */
  position: absolute;
  /* width: calc(80% - 29%); */
  width: 955px;
  margin-left: -14px;
  height: calc(100vh - 714px);
  background-color: rgb(240, 240, 240);
  box-shadow: 0 10px 10px -10px grey inset;
}

button {
  font-family: "Tauri", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  background-color: rgb(39, 44, 45);
  border: none;
  height: 50px;
  border-radius: 10px;
  color: white;
  width: 250px;
  margin-top: 30px;
  margin-left: 50px;
  padding: 5px;
}

p {
  margin-left: 50px;
  margin-top: 30px;
  font-family: "Tauri", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
}

p > a {
  color: rgb(39, 44, 45);
}
